In [3]:
# store data in form of dataframes(in form of tables)
import pandas as pd
import numpy as np

In [7]:
# create dataframe using random
df=pd.DataFrame(np.random.randn(10,4),columns=['a','b','c','d'])
df

          a         b         c         d
0  1.454455 -0.783485 -1.011931  0.292922
1 -0.026416  1.138252 -0.368039 -1.042379
2 -0.169337  0.702019 -0.383577 -0.267253
3 -0.265438  0.844342  0.205820 -0.189694
4 -2.980190  0.742411  0.694944  0.150763
5  1.114116 -0.623392 -1.433243  1.519250
6  0.824177 -0.146804 -2.033244  0.599043
7 -1.449461  1.933802 -0.467178  0.132502
8  1.465669 -1.160981  1.058050  0.515756
9 -0.817432 -1.972916 -1.905403 -1.082299

In [13]:
#create dataframe using dictionary
df_usingdict=pd.DataFrame({'A' : [10,20,20,40], 'B': [1,2,3,4]})
df_usingdict

    A  B
0  10  1
1  20  2
2  20  3
3  40  4

In [14]:
df.dtypes

a    float64
b    float64
c    float64
d    float64
dtype: object

In [15]:
df.columns

Index(['a', 'b', 'c', 'd'], dtype='object')

In [17]:
# give all values availble in numpy array
df.values

array([[ 1.45445498, -0.78348457, -1.01193071,  0.29292183],
       [-0.02641598,  1.13825163, -0.3680392 , -1.04237862],
       [-0.16933707,  0.70201897, -0.3835773 , -0.26725292],
       [-0.26543768,  0.84434205,  0.20582027, -0.18969373],
       [-2.98019032,  0.74241086,  0.69494442,  0.15076256],
       [ 1.11411596, -0.62339168, -1.43324253,  1.51925028],
       [ 0.8241765 , -0.14680435, -2.03324375,  0.5990429 ],
       [-1.44946078,  1.93380189, -0.46717813,  0.13250176],
       [ 1.46566927, -1.16098096,  1.05804988,  0.51575559],
       [-0.81743178, -1.97291601, -1.90540317, -1.08229893]])

In [18]:
df.head(5)

          a         b         c         d
0  1.454455 -0.783485 -1.011931  0.292922
1 -0.026416  1.138252 -0.368039 -1.042379
2 -0.169337  0.702019 -0.383577 -0.267253
3 -0.265438  0.844342  0.205820 -0.189694
4 -2.980190  0.742411  0.694944  0.150763

In [20]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [22]:
df.count()

a    10
b    10
c    10
d    10
dtype: int64

In [25]:
df.sort_index(by='a',axis=0, ascending=False) # sorting vertically

/Users/gurjitsingh/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

          a         b         c         d
8  1.465669 -1.160981  1.058050  0.515756
0  1.454455 -0.783485 -1.011931  0.292922
5  1.114116 -0.623392 -1.433243  1.519250
6  0.824177 -0.146804 -2.033244  0.599043
1 -0.026416  1.138252 -0.368039 -1.042379
2 -0.169337  0.702019 -0.383577 -0.267253
3 -0.265438  0.844342  0.205820 -0.189694
9 -0.817432 -1.972916 -1.905403 -1.082299
7 -1.449461  1.933802 -0.467178  0.132502
4 -2.980190  0.742411  0.694944  0.150763

In [26]:
df[0:3]

          a         b         c         d
0  1.454455 -0.783485 -1.011931  0.292922
1 -0.026416  1.138252 -0.368039 -1.042379
2 -0.169337  0.702019 -0.383577 -0.267253

In [32]:
df.loc[1:3,['a','b']]

          a         b
1 -0.026416  1.138252
2 -0.169337  0.702019
3 -0.265438  0.844342

In [42]:
df.iloc[1:3]

          a         b         c         d
1 -0.026416  1.138252 -0.368039 -1.042379
2 -0.169337  0.702019 -0.383577 -0.267253

In [38]:
df.at[0,'a']

1.4544549770441146

In [44]:
df[df.a>1]

          a         b         c         d
0  1.454455 -0.783485 -1.011931  0.292922
5  1.114116 -0.623392 -1.433243  1.519250
8  1.465669 -1.160981  1.058050  0.515756

In [45]:
df.dropna()

          a         b         c         d
0  1.454455 -0.783485 -1.011931  0.292922
1 -0.026416  1.138252 -0.368039 -1.042379
2 -0.169337  0.702019 -0.383577 -0.267253
3 -0.265438  0.844342  0.205820 -0.189694
4 -2.980190  0.742411  0.694944  0.150763
5  1.114116 -0.623392 -1.433243  1.519250
6  0.824177 -0.146804 -2.033244  0.599043
7 -1.449461  1.933802 -0.467178  0.132502
8  1.465669 -1.160981  1.058050  0.515756
9 -0.817432 -1.972916 -1.905403 -1.082299

In [47]:
df.fillna(value=1)

          a         b         c         d
0  1.454455 -0.783485 -1.011931  0.292922
1 -0.026416  1.138252 -0.368039 -1.042379
2 -0.169337  0.702019 -0.383577 -0.267253
3 -0.265438  0.844342  0.205820 -0.189694
4 -2.980190  0.742411  0.694944  0.150763
5  1.114116 -0.623392 -1.433243  1.519250
6  0.824177 -0.146804 -2.033244  0.599043
7 -1.449461  1.933802 -0.467178  0.132502
8  1.465669 -1.160981  1.058050  0.515756
9 -0.817432 -1.972916 -1.905403 -1.082299

In [49]:
df.mean(axis=1)

0   -0.012010
1   -0.074646
2   -0.029537
3    0.148758
4   -0.348018
5    0.144183
6   -0.189207
7    0.037416
8    0.469623
9   -1.444512
dtype: float64